{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHARISHMA</title>
    <link rel="stylesheet" href="{% static 'css/chardevi.css' %}">
</head>
<body>
    <center>
        <h1 style="color: yellow;">UP MOVIE</h1>
        <img src="{% static 'images/up.jpg' %}" alt="">
        <h2 style="color:red;">Up is a 2009 American computer-animated film produced by Pixar Animation Studios and released by Walt Disney Pictures. The film was directed by Pete Docter, co-directed by Bob Peterson (in his feature directorial debut), and produced by Jonas Rivera. Docter and Peterson also wrote the film's screenplay and story, with Tom McCarthy co-writing the latter. The film stars the voices of Ed Asner, Christopher Plummer, Jordan Nagai, and Peterson. The film centers on Carl Fredricksen (Asner), an elderly widower who travels to South America with wilderness explorer Russell (Nagai) in order to fulfill a promise that Carl made to his late wife Ellie. Along the way, they meet a talking dog named Dug (Peterson) and encounter a giant bird named Kevin, who is being hunted by the explorer Charles Muntz (Plummer), whom Carl had idolized in childhood.
Originally titled Heliums, Docter conceived the outline for Up in 2004 based on fantasies of escaping from life when it becomes too irritating. He and eleven other Pixar artists spent three days in Venezuela gathering research and inspiration. The designs of the characters were caricatured and stylized considerably, and animators were challenged with creating realistic cloth. Composer Michael Giacchino composed the film's score. It was Pixar's first film to be presented in 3D format.</h2>
    </center>
</body>
</html>